#Indice{
	font-size: 30px;
	color: black;
	font-family: 'Baloo 2', cursive;
}
#T1{
	color: black;
	font-family: 'Baloo 2', cursive;
}
#T1:hover{
	color: pink;
}
#hT1{
	font-size: 30px;
	color: black;
	font-family: 'Baloo 2', cursive;
}
#enlace{
	color: black;
	font-family: 'Baloo 2', cursive;
}
#enlace:hover{
	color: pink;
}
#boton{
	font-size: 30px;
	color: black;
	font-family: 'Baloo 2', cursive;
}
#CT{
	font-size: 30px;
	color: black;
	font-family: 'Baloo 2', cursive;
}